@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    background: linear-gradient(90deg, #050505, #b15a12);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.conteudo {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto 100px auto;
    padding: 20px;
    color: #313131;
    overflow: hidden;
    position: relative;
}

.titulo ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.motoboy-item ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.motoboy-item li {
    margin: 10px;
}


.btn-editar,
.btn-excluir {
    cursor: pointer;
}

.linha ul li {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none;
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    padding: 5px 10px;
}

.linha {
    padding: 30px 0;
    height: 30px;
    font-size: 0;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-out;
    background-color: #b3b2b2;
    justify-content: space-between;
}

.linha:hover {
    height: 65px;
}

.titulo {
    padding: 25px 0 5px 0;
    height: 45px;
    color: #d1d1d1;
    background: linear-gradient(90deg, #171717, #b15a12);
}

.titulo:hover {
    height: 45px;
}

ul.mais-conteudo li {
    position: relative;
    top: 10px;
    font-size: 15px;
    margin: 0;
    display: block;
    height: 50px;
    width: 100%;
    background-color: #afafaf;
}

.cabecalho {
    background-color: rgba(247, 180, 133, 0.1);
    padding: 20px;
    text-align: center;
    font-size: 12px;
    color: #d1d1d1;
}

.cabecalho h1 {
    margin: 0;
}

.rodape {
    background-color: rgba(247, 180, 133, 0.1);
    color: #d1d1d1;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rodape p {
    margin: 0;
}

.btn-editar,
.btn-excluir {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-editar {
    background: linear-gradient(90deg, #171717, #b46b2f);
    color: #d1d1d1;
}

.btn-excluir {
    background: linear-gradient(90deg, #171717, #ad3030);
    color: #d1d1d1;
}


@media only screen and (max-width: 600px) {
    .conteudo {
        width: 90%;
    }

    .linha ul li {
        width: 100%;
    }

    .titulo ul {
        flex-direction: column;
    }

    .linha,
    .titulo {
        height: auto;
    }

    .rodape {
        position: relative;
    }

    .btn-editar,
    .btn-excluir {
        margin: 5px 0;
    }
}